body {
    font-family: 'Montserrat', sans-serif;
}

#menu-toggle {
    display: none;
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;  
    user-select: none;
}
.menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 10px;
    right: -1500px;
    background: #e8e8e8;
    width: 180px;
    padding: 10px;
    transition: right 0.3s;
}
.menu a {
    color: #252525;
    text-decoration: none;
    background-color: w;
    padding: 10px;
    display: block;
}
#menu-toggle:checked + .menu-icon + .menu {
    right: 0;
}
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
div.scrollmenu-tilbud{
    background-color: white;
    overflow: auto;
    white-space: nowrap;
} 
div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
img.logo {
float: left;
}
.navbar{
    display: inline;

}

#global-header{
    display: inline-flex;
}

.navigasjonsbar {
float: right;
padding:20px;
text-align:right;
text-decoration: none;
color: black;
}


#bakgrunnsbilde {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    object-fit: cover;
    z-index: -1;
}
.reisesøk{ 
 
    max-width: 400px;
    min-width: 200px;
    padding: 1rem;
    text-decoration: none;
    font-size: 16px;
    text-align: left
}
#reisesøk form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #e8e8e8;
    max-width: 500px;
    margin: auto;
}
#reiselengde{
    display: inline-block;
    width: calc(50% - 5px);
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #252525;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
}
footer{
    background-color: #252525;
    padding: 30px;
    color: #f6f5f2;
}


.søk {
  border-radius: 5px;
  display: block;
  width: 100%;
  border: none;
  background-color: #ffcf40;
  color: #252525;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.kampanje {
    border-radius: 5px;
}
#bestill-button {
  border: 5px solid #ffcf40;
  background-color: #ffcf40;
  border-radius: 5px;
  display: block;
  width: 30%;
  border: none;
  color: #252525;
  padding: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  }

.submit{
    border-radius: 5px;
    display: block;
    width: 30%;
    border: none;
    background-color: #ffcf40;
    font-style: bold;
    color: #252525;
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.nyhetsbrev-submit{
    border-radius: 5px;
    display: block;
    width: 25%;
    border: none;
    background-color: #ffcf40;
    font-style: bold;
    color: #252525;
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.card{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #e8e8e8;
    max-width: 300px;
    padding: 20px;
    margin: auto;
    text-align: left;
}
.card-ukensdeal{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #e8e8e8;
    max-width: 300px;
    padding: 20px;
    margin: auto;
    text-align: left;
}
.card-nyhet{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #e8e8e8;
    max-width: 300px;
    padding: 20px;
    margin: auto;
    text-align: left;
}


div.scrollmenu-hotellbilder{
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}
p.poengscore{
    border-radius: 5px;
    display: block;
    width: 10%;
    border: none;
    background-color: #019101;
    font-style: bold;
    color: #f6f5f2;
    padding: 5px 2px;
    font-size: 16px;
    text-align: center;
}
#kampanjer{
    border-radius: 5px;
    display: block;
    width: 50%;
    border: none;
    background-color: #52d3f0;
    color: #252525;
    padding: 5px 2px;
    text-align: center; 
}
#kampanjeinfo{
    color: #252525;
    padding: 5px 2px;
    text-align: left; 
    font-style: bold;
    font-size: 16px;
}
.kampanjeinfo {
    color: #252525;
    padding: 5px 2px;
    font-size: 14px;
    text-align: left; 
}
.kampanjeinfo-pris{
    color: #252525;
    padding: 5px 2px;
    text-align: left; 
    font-style: bold;
    font-size: 16px;
}

#link-fasiliteter{
    color: #1ca2c1;
}
#fly-hotell{
border-bottom: 4px solid #1ca2c1;
}

p.inspirasjon-understrek{
    border-bottom: 3px solid #1ca2c1;    
    max-width: 110px;
}
p.inspirasjon-understrek2{
    border-bottom: 3px solid #1ca2c1;    
    max-width: 160px;
}
p.inspirasjon-understrek3{
    border-bottom: 3px solid #1ca2c1;    
    max-width: 90px;
}
#tilbud-link {
    color: #1ca2c1;

}
#tilbud-link2{
    color: #1ca2c1;  
}
#tilbud-link3{
    color: #1ca2c1;  
}
.card-tilbud{
    display: inline;
    padding: 20px;
}
#ukens-deal{
    border-radius: 5px;
    display: block;
    width: 40%;
    border: none;
    background-color: #1ca2c1;
    font-style: bold;
    color: #f6f5f2;
    padding: 8px 8px;
    font-size: 16px;
    text-align: center;
}
#nyhet{
    border-radius: 5px;
    display: block;
    width: 40%;
    border: none;
    background-color: #1ca2c1;
    font-style: bold;
    color: #f6f5f2;
    padding: 8px 8px;
    font-size: 16px;
    text-align: center;
}
.betalings-metode{
    display: inline;
    padding: 5px;   
    float: left;
}
#kundeservice-spm{
    color: #f6f5f2;
}
#kundeservice-chat{
    color: #f6f5f2;
}
#kundeservice-kontakt{
    color: #f6f5f2;
}
#kundeservice-tilgjengelighetserklæring{
    color: #f6f5f2;
}
#some-instgram{
    display: inline;
    padding: 5px;
    color: #f6f5f2;
}
#some-facebook{
    display: inline;
    padding: 5px;
    color: #f6f5f2;
}
#some-pinterest{
    display: inline;
    padding: 5px;
    color: #f6f5f2;
}

#some-tiktok{
    display: inline;
    padding: 5px;
    color: #f6f5f2;
}
#some-youtube{
    display: inline;
    padding: 5px;
    color: #f6f5f2;
}
.some-ikoner{
    display: inline;
    padding: 5px;
    color: #f6f5f2; 
}
.land{
    display: inline;
    padding: 20px;
    font-size: 16px; 
}
.rating{
    display: inline;
    padding: 3px;  
    color: #ffcf40;   
}
#link{
    color: #1ca2c1;
}
.rabattert-pris{
    color: red;
}

.fasiliteter{
    color: #252525;
}
.velg-rom{
  float: right;
  border-radius: 10px;
  display: block;
  width: 40%;
  border: none;
  background-color: #1ca2c1;
  color: #f6f5f2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;  
}
.oversikt{
    display: inline;
    padding: 20px;   
}

#oversikt-understrek{
    color: #1ca2c1;
    border-bottom: 4px solid #1ca2c1;
}
#map{
    border-radius: 10px;
}
ul.flex-menu-oversikt{
    border-bottom: 2px solid #e8e8e8; 
}
div.scrollmenu-breadcrumbs{
    background-color: #1ca2c1;
    overflow: auto;
    width: 470px;
    border-radius: 5px;
    white-space: nowrap;
  }
  
  div.scrollmenu-breadcrumbs a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: #f6f5f2;
    text-decoration: none;
    list-style-type: none;
  }
  
#bestillingsskjema-hovedbestiller{
    background-color: #e8e8e8;
    border-radius: 10px;
}

#bestillingsskjema-følge{
    background-color: #e8e8e8;
    border-radius: 10px;
}

.siste-trinn{
    border-radius: 5px;
    display: block;
    width: 25%;
    border: none;
    background-color: #ffcf40;
    font-style: bold;
    color: #252525;
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;   
}
.hjerte-ikon{
    border-radius: 20px;
    color: red;
    border: none;
    background-color: #f6f5f2;
    padding: 5px 5px;
    width: 5%;
    text-align: center; 
}
.antall-bilder{
    border-radius: 20px;
    color: #f6f5f2;
    border: none;
    background-color: #252525;
    padding: 5px 5px;
    width: 10%;
    text-align: center; 
}
#velg-rom{
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 #e8e8e8;
    padding: 5px 5px;
    color: #252525;
    text-align: left;
}